.btn-custom {
    color: #5ba3b8;
}


html {
    position: relative;
    min-height: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}


.footer {
  color: #ffffff;
  position: absolute;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.top-buffer { margin-top:20px; }

.navbar-custom {
  background-color: #ffffff;
  border-color: #ffffff;
}
.navbar-custom .navbar-brand {
  color: #5ba3b8;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #398da5;
}
.navbar-custom .navbar-text {
  color: #5ba3b8;
}
.navbar-custom .navbar-nav > li > a {
  color: #5ba3b8;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #398da5;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #398da5;
  background-color: #ffffff;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  color: #398da5;
  background-color: #ffffff;
}
.navbar-custom .navbar-toggle {
  border-color: #ffffff;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #5ba3b8;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #5ba3b8;
}
.navbar-custom .navbar-link {
  color: #5ba3b8;
}
.navbar-custom .navbar-link:hover {
  color: #398da5;
}




